form {
    min-height: 22vh;
    width: 100vw;
}

header {
    height: 8vh;
}

#messages {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    height: 70vh;
    height: 70vh;
    overflow-y: scroll;
    list-style-type: none;
    margin: 0;
    padding: 6px 0px 12px;
}

#messages li {
    max-width: 50vw;
    min-width: 20vw;
    height: auto;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4);

    padding: 6px 8px 6px 6px;
    background-color: #daffda;
    align-self: flex-start;
    text-align: left;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#messages li.my-message {
    padding: 6px 6px 6px 8px;
    background-color: #4beb48;
    align-self: flex-end;
    text-align: right;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#alerta {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%);
}

input {
    display: block;
    padding: .375rem 0rem;
    margin: 0.5rem 0.025rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}